<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login</title>
  </head>
  <body>
    <h1>Login please!</h1>
    <form class="" action="" method="post">
      <!-- the username input will be used in the session -->
      <input type="text" name="username" value="">
      <input type="submit" name="" value="Sign up!">

    </form>

  </body>
</html>
